:root {
  --color-neutral-1: #ebf4f7;
  --color-neutral-2: #f0f8fb;
  --color-neutral-border: #d3dee5;
  --color-neutral-text: #b2bbc1;
  --color-text: #020001;
  --color-sky: #29f3f3;
  --color-blue: #7cb1d3;
  --color-green: #5bc52d;
  --color-red: #f13d4c;
  --color-orange: #fd6a04;
  --color-white: #fff;
  --color-gray: #f4f4f4;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;

  font-family: "Suez One", serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}
